.section-contacto-container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contacto-text-container {
  margin-right: 40px;
}

.contacto-form-container {
  box-shadow: 15px 15px 50px #adb5bd75;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.contacto-label {
  font-weight: bold;
}

.contacto-input {
  width: 20rem;
  height: 2rem;
  background-color: #f9f9f9;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #c7c7c7;
  margin: 10px 0;
}

.contacto-textarea {
  margin: 10px 0;
  width: 20rem;
  max-width: 20rem;
  height: 15rem;
  max-height: 20rem;
  background-color: #f9f9f9;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #c7c7c7;
}

.contacto-submit {
  width: 20rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  margin: 20px 0;
}

.contacto-title {
  font-size: 35px;
  font-weight: 900;
  margin: 20px 0;
}

.contacto-txt {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

.contacto-icons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.icon-social {
  font-size: 40px;
  margin: 0 10px;
  transition: 0.5s ease;
}

.icon-social:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 932px) {
  .section-contacto-container {
    height: 93vh;
    flex-direction: column;
    margin: 20px 0;
  }

  .contacto-container {
    display: flex;
    flex-direction: column;
  }

  .contacto-form-container {
    width: 400px;
    height: 500px;
    margin: 20px 0;
  }

  .contacto-text-container {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .section-contacto-container {
    height: auto;
  }

  .contacto-text-container {
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .section-contacto-container {
    height: auto;
    align-items: center;
  }

  .contacto-container {
    margin: auto;
    align-items: center;
  }

  .contacto-text-container {
    margin-right: 0px;
  }

  .contacto-form-container {
    width: 300px;
    height: 500px;
    margin: 20px auto;
  }

  .contacto-form {
    padding: 20px;
  }

  .contacto-label {
    font-weight: bold;
    font-size: 15px;
  }

  .contacto-input {
    width: 15rem;
    height: 2rem;
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    border: 1px solid #c7c7c7;
    margin: 10px 0;
  }

  .contacto-textarea {
    margin: 10px 0;
    width: 15rem;
    max-width: 15rem;
    height: 15rem;
    max-height: 15rem;
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    border: 1px solid #c7c7c7;
  }

  .contacto-submit {
    width: 10rem;
    height: 3rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    margin: 20px 20%;
  }

  .contacto-title {
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0;
  }

  .contacto-txt {
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
  }
}
