.ingresar-container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-focus);
}

.login-form-container {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
  font-family: inherit;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.login-form-container-header {
  text-align: center;
  width: 100%;
  margin: 15px 0;
}

.login-input {
  width: 25rem;
  height: 3rem;
  background-color: #f9f9f9;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #c7c7c7;
}

.login-input::placeholder {
  padding-left: 20px;
  font-family: inherit;
}

.login-submit {
  width: 25rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
}

.spanHelperDark {
  color: var(--color-primary);
  cursor: pointer;
  font-weight: bold;
}

.login-helper {
  font-size: 15px;
  margin: 5px;
}

.login-form-helper {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .login-form-container {
    width: 70%;
    height: 400px;
    margin: 0 auto;
  }

  .login-input {
    width: 90%;
    height: 3rem;
  }

  .login-submit {
    width: 90%;
  }

  .login-form-helper {
    padding: 0 15px;
  }

  .login-input::placeholder {
    padding-left: 10px;
  }
}
