/* Paleta de colores:
https://colorhunt.co/palette/06283d1363df47b5ffdff6ff */

:root {
  --color-primary: #06283d;
  --color-secondary: #1363df;
  --color-focus: #47b5ff;
  --color-background: #dff6ff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 80px;
}

@media (max-width: 992px) {
  body {
    padding-top: 60px;
  }
}
